
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;}
h1{font-size: 50px;}
.highlighter{color: blue;}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    padding: 20px;
    height: 500px;} 
.link-button{
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 7px;
    background-image: linear-gradient(45deg, rgb(23, 255, 35), rgb(45, 189, 8) );
    color: white;
    font-weight: bold;
    }
.mid-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    }
p{
    color: gray;
    text-align: justify;
    width: 85%;
    }